@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Indie+Flower&family=Jost:wght@300;500;700&family=Montaga&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,500&family=Roboto:ital,wght@0,100;0,900;1,100;1,900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #B1E1FF;
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo{
    position: fixed;
    top:10px;
    left:20px;
    color:black;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: "Brush Script MT";
}
span{
    font-family: "Brush Script MT";
    color:#f9004d;
}
.main-container{
    /*height: 450px;*/
    max-width: 350px;
    width:90%;
}
.container{
    height: 100%;
    width:100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px 0;
   
}
.container h1{
    white-space: nowrap;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 15px;
    font-weight: 600;
}
.container p{
    color: gray;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 15px;
}

.new-password,.confirm-password{
    height: 70px;
    width: 100%;
    margin-top: 25px;
    position:relative;
}
.confirm-password{
    margin-top: 40px;
}
.new-password h3, .confirm-password h3{
    font-size: 17px;
    color: grey;
    margin-left: 21px;
    margin-bottom: 7px;
    font-weight: 600;
}

.new-password input,.confirm-password input{
    height: 30px;
    width: 90%;
    margin-left: 15px;
}
.new-password input:focus,.confirm-password input:focus{
    border-color: black;
    transition: all .2s;
}
.new-password .fa-eye,.fa-eye-slash{
    position: absolute;
    right: 28px;
    margin-top: 5px;
    color: grey;
    font-size: 17px;
    cursor: pointer;
}
.fa-eye-slash{
    visibility: hidden;
}
.new-password p{
    font-size: 13px;
    margin-left: 17px;
}
.container .message{
    font-size: 13px;
    margin-left: 17px;
    display: none;
}

.reset-button{
    all: unset;
    height: 40px;
    width: 305px;
    color: white;
    background: #A66CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    border-radius: 6px;
    cursor: pointer;

}

    
